{% extends "show/show.html.twig" %}
{% block body %}

    <a id="note-retour" class="note" href="{{ path('home') }}">Retour</a>

    <div id="div-note" class="note">{{ message|raw }}</div>

{% endblock %}