{% extends "show/show.html.twig" %}
{% block body %}
    <div class="flex-grow-1 d-flex flex-column bg-dark text-light">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-expand-md">
            <a class="navbar-brand" href="{{ path('home') }}">Return to Sandala</a>
            <ul class="navbar-nav w-100">
                <li class="nav-item ml-md-auto"><button id="duplicateCode" class="btn btn-warning switch">Duplicate code</button></li>
            </ul>
        </nav>
        <!-- /bootstrap nav -->
        <div class="container-fluid bg-dark text-light">
            <!-- bootstrap nav -->
            <div class="row">
                <div class="p-4 mh-100 mx-auto mt-auto bg-dark text-center" id="content">
                    <p><h1>དཀྱིལ་འཁོར་ བ༹ནིཤེད་</h1></p>
                    <h2>This is NOT a 404 error. Nor a tattoo.</h2>
                    <h3>It's supposed to mean that your mandala has vanished.</h3>
                    <h4>According to an affordable automatic translator.</h4>
                    <h5>Which, for sure, is not reliable. But we don't speak Tibetan.</h5>
                    <h6>Meaning that your message is gone.</h6>
                    <p>Forever.</p>
                    <p class="very-small-font">Sorry.</p>
                    <p>It might even have never existed, therefore, this is a 404 error.</p>
                    <p class="very-small-font">"The 404 is and is not" Plato's Parmenides (157b-159b) V.2.0.1.1.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}