{% extends "base.html.twig" %}

{% block title %}This is live coding !{% endblock %}

{% block body %}

	<div class="d-flex justify-content-sm-center nav-pills">
      <div class="pl-4 pt-4 col-12 col-md-8 pb-3 my-auto align-middle mt-auto d-flex justify-content-sm-center nav-item" style="opacity: 0.8">
          <a class="nav-link active" href="{{ path('writer') }}">Start a live session</a>
      </div>
  </div>
{% endblock %}