{% extends "base.html.twig" %}

{% block title %}Bienvenue sur le Live Coding{% endblock %}

{% block body %}


	<p class="h5">Happy Reading</p>

	<input hidden id="server_ip" value="ws:{{ jsUrl }}:{{ portNumber }}/"/>
		
		
		<div class="card">
			<div class="card-body"> 
				<div class="card-text" id ="chatTarget" style="min-height: 800px"> </div>
			</div>
		</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('chatReader') }}
{% endblock %}