{% extends "base.html.twig" %}

{% block title %}Bienvenue sur le Live Coding{% endblock %}

{% block body %}

<div class="justify-content-sm-center">
		<p> Send this link to your viewers :</p>
		<p class="alert-link pl-5"> {{ readerUrl }} </p>
		<p class="h5">Happy Writing</p>
</div>

<input hidden id="server_ip" value="ws://127.0.0.1:{{ portNumber }}/"/>
<div class="row">
	<div class ="w-100">
		<div id="chatWriter" class="card">
			<textarea class="card-body" aria-label="With textarea" style="min-height: 800px" id="message"></textarea>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('chatWriter') }}
{% endblock %}