{% extends "base.html.twig" %}

{% block title %}Bienvenue sur le Live Coding{% endblock %}

{% block body %}
<h1> Mon Live Coding : Writer</h1>

		<h3>Happy Writing</h3>

		<h3>Lien à envoyer aux readers de la session :</h3>
		<p> {{ readerUrl }} </p>

		<input hidden id="server_ip" value="ws://127.0.0.1:{{ portNumber }}/"/>
		<div class="row">
			<div class ="w-100">
				<div id="chatWriter" class="card">
		 			<textarea class="card-body" aria-label="With textarea" style="min-height: 800px" id="message"></textarea>
				</div>
			</div>
		</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('chatWriter') }}
{% endblock %}