:root {
    --pine: #131616;
    --creamWhite: #FFFCF5;
    --englishViolet: #403547;
    --yaleBlue: #004C97;
    --carolinaBlue: #009cde;
    --orangeYellow: #EEB927;
    --yellowPantone: #FBE122;
    --appleGreen: #8CAB19;
    --spanishGreen: #258c4b;
    --greenRVB: #5FA430;

    --fullwidth: 100%;
}

@font-face {
    font-family: "MartelRegular";
    font-style: normal;
    src: url("fonts/MartelSans-Regular.ttf");
}

@font-face {
    font-family: "MartelLight";
    font-style: normal;
    src: url("fonts/MartelSans-Light.ttf");
}

@font-face {
    font-family: "MartelBold";
    font-style: normal;
    src: url("fonts/MartelSans-Bold.ttf");
}

@font-face {
    font-family: "Tox";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Tox Typewriter.ttf");
}

@font-face {
    font-family: "Felt";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Chunky Felt.otf");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Inconsolata-Regular.ttf");
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

* {
    box-sizing: border-box;
}

.jumbotron {
    background: transparent;
}
body {
    background-color: var(--creamWhite);
}

/*Text*/
html {
    font-size: 0.9rem;
    font-stretch: condensed;
}

.max-w-250px {
    max-width: 250px;
}


.very-small-font {
    font-family: "MartelRegular", serif;
    font-size: 0.7rem;
}

.small-font {
    font-family: "MartelRegular", serif;
    font-size: 0.85rem;
}

.big-font {
    font-size: 2rem;
}

.text-light-custom{
    color: var(--creamWhite);
}

.text-dark-custom{
    color: var(--englishViolet);
}


/*Links*/
a:link {
    color: var(--carolinaBlue);
}

a:hover {
    color: var(--yaleBlue);
}

a:visited {
    color: var(--orangeYellow);
}

.fake-link {
    color: var(--carolinaBlue) !important;
    text-decoration: underline !important;;
    cursor: pointer !important;;
}

/*Radio buttons*/
/* This is the default state */
.custom-radio .custom-control-label::before {
    background-color: var(--creamWhite);
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--carolinaBlue);
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--yaleBlue);
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 156, 222, 0.5);
}

/*Navbar*/
.top-navbar-link {
    font-size: 1.25rem;
}

#first-navbar {
    display: flex;
    justify-content: center;
    color: var(--englishViolet) !important;
    background-color: var(--creamWhite);
    font-family: "Felt", serif;
}

#second-navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    color: whitesmoke !important;
    background-color: var(--englishViolet);
}

#second-navbar > a {
    width: 25%;
    padding: 0.3em 0;
    text-align: center;
    color: whitesmoke !important;
}

#second-navbar > a:hover {
    background-color: var(--orangeYellow);
    color: var(--englishViolet) !important;
}

#footer {
    justify-self: flex-end;
}

/* Mise en page du footer */
#footer > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke !important;
    background-color: var(--englishViolet);
}

/*Letter templating*/
.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.letter {
    font-family: "Tox", serif;
}

/*Note templating*/
.note {
    font-family: "Felt", serif;
}

/*Code templating*/
.code {
    font-family: "Inconsolata", serif;
}