// customize some Bootstrap variables
/*$primary: darken(#428bca, 20%);*/

@import "~bootstrap/scss/bootstrap";

$blueMunsell: #1B9AAA;
$yellowLight: #F8FFE5;
$greenCaribbean: #06D6A0;
$pinkParadise: #EF476F;
$orangeYellow: #FFC43D;