$creamWhite: #FFFCF5;
$englishViolet: #403547;
$yaleBlue: #004C97;
$carolinaBlue: #009CDE;
$orangeYellow: #EEB927;
$yellowPantone: #FBE122;
$appleGreen: #8CAB19;
$spanishGreen: #258C4B;
$greenRVB: #5FA430;

$theme-colors: (
        primary: $yaleBlue,
        success: $greenRVB,
        warning: $orangeYellow,
        info: $carolinaBlue,
        light: $creamWhite,
        dark: $englishViolet,
);

body {
  font-family: 'MartelRegular', sans-serif !important;
}

@import "~bootstrap/scss/bootstrap";