<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="pas-footer">
                <header>
                    <nav id="first-navbar" class="navbar navbar-light bg-dark">
                        <span class="navbar-brand mb-0 h1 text-light">ProjectX</span>
                    </nav>
                    <nav id="second-navbar" class="navbar navbar-light bg-secondary">
                        <a class="text-light top-navbar-link text-decoration-none oui" href="">Home</a>
                        <a class="text-light top-navbar-link text-decoration-none oui" href="">Live</a>
                    </nav>
                </header>
                <main>
                    {% block body %}{% endblock %}
                </main>
            </div> {# pas-footer #}
            <footer>
                <div id="footer" class="bg-dark">
                    <nav class="navbar navbar-light bg-dark">
                        
                    <p class="text-light">
                        ProjectX est hébergé par Scalingo SAS - 15 avenue du Rhin - 67100 STRASBOURG - France
                    </p>
                    <p class="text-light">Edouard DA LAGE - Maxime LIDY - Sebastien STELTZEN</p>
                    <a class="text-light text-decoration-none" href="">Mentions légales</a>
                    </nav>
                </div>
            </footer>
        </div> {# wrapper #}
        {% block javascripts %}{% endblock %}
    </body>
</html>

