<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome on Sandala!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        <nav id="first-navbar" class="navbar navbar-light">
            <span class="navbar-brand mb-0 font-italic big-font">Sandala</span>
            <img src="{{ asset('build/images/mandala.png') }}" width="64" alt="logo"/>
            <span class="navbar-brand mb-0 font-italic">
                    &nbsp;&nbsp;&nbsp;an easy to use text message delivery service.
            </span>

        </nav>
        <nav id="second-navbar" class="navbar navbar-light">
            <a class="top-navbar-link text-decoration-none oui" href="">Home</a>
            <a class="top-navbar-link text-decoration-none oui" href="">Live</a>
        </nav>
    </header>

    <main>
        <div class="jumbotron-fluid">
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>

    <footer>
        <div id="footer" class="very-small-font pt-2 footer">

                <nav class="navbar navbar-light text-center">
                    <p class="text-light">
                        Sandala is hosted by Scalingo SAS - 15 avenue du Rhin - 67100 STRASBOURG - France<br/>
                        Developed by : <span
                                class="font-weight-bold">Edouard DA LAGE - Maxime LIDY - Sebastien STELTZLEN</span><br/>
                        <a class="text-light text-decoration-none" href="">General Conditions of Use of the website
                            (GCU)</a></p>
                </nav>
        </div>
    </footer>

{% block javascripts %}{% endblock %}
</body>
</html>

