<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    {% endblock %}
</head>
<body>
{% block body %}du cdoiazjdoiazjdoiazjdozajdoiajode{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>

